.jumbotron {
  padding-top: 6rem;
  background-image: url("img/bg4.jpg");
}
#profil {
  background-image: url("img/bg4.jpg");
}

#kampung {
  background-image: url("img/bg4.jpg");
}

#kuliah {
  background-image: url("img/bg4.jpg");
}
#opini {
  background-image: url("img/bg4.jpg");
}
#About {
  background-image: url("img/bg4.jpg");
}
#project {
  background-image: url("img/bg4.jpg");
}

}
#contant {
  background-image: url("img/bg4.jpg");
}

section {
  padding-top: 5rem;
}
